.header {
    height: 50vh;
    background-image: url("headerimage.jpg");
    background-size: cover;
}
#about-me {
    /* height: 35vh; */
}

#skills-certs {
    background: white;
    color: #272B30;

}
.proj-tile {
    background-image: url("proj-placeholder.png");
    background-size: cover;
    height: 40vh;
}

.buffer {
    height: 15vh;
}

.footer {
    height: 25vh;
    background: #aaa;
    color: #272B30;
}
.contact {
    color: #272B30;
    font-size: 3rem;
}


/* HELPER CLASSES */

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rnd-element {
    border-radius: 50%;
}

.inline-text {
    display: inline-block;
}











