body{
    scroll-behavior: smooth;
}
.header {   
    background-image: url("headerimage.jpg");
    background-size: cover;
}

.headline h1 {
    font-style: italic;    
    text-shadow: 2px 2px 1px green;
}

.skills-certs {
    background: white;
    color: rgba(39,43,48,1);    
}
.skills-certs h2 {
    text-align: center;
}
#schools li {
    margin-left: 0;
}

.proj-tile {
    background-image: url("proj-placeholder.png");
    background-size: cover;
    min-height: 350px;
    color: rgba(0,0,0,0);
    outline: 1px solid white;
}

.proj-tile:hover {
    background: rgba(255, 255, 255, 0.76);
    color: rgba(0,0,0,1);
}

#Inspire {
    background-image: url("inspire.jpg");
    /* background-size: cover;
    min-height: 300px;
    color: rgba(0,0,0,0); */
}

#Inspire:hover {
    background: rgba(255, 255, 255, 0.76);
    color: rgba(0,0,0,1);
}

#Air2Air {
    background-image: url("Air2Airimg.jpg");
    /* background-size: cover;
    min-height: 300px;
    color: rgba(0,0,0,0) */
}

#Air2Air:hover {
    background: rgba(255, 255, 255, 0.76);
    color: rgba(0,0,0,1);
}

#d2tunes {
    background-image: url("dtunesimg.jpg");
    /* background-size: cover;
    min-height: 300px;
    color: rgba(0,0,0,0); */
}

#d2tunes:hover {
    background: rgba(255, 255, 255, 0.76);
    color: rgba(0,0,0,1);
}

#battle-cards {
    background-image: url("battle-cards2.jpg");
    /* background-size: cover;
    min-height: 300px;
    color: rgba(0,0,0,0); */
}

#battle-cards:hover {
    background: rgba(255, 255, 255, 0.76);
    color: rgba(0,0,0,1);
}

#kanban {
    background-image: url("kanban.png");
    /* background-size: cover;
    min-height: 300px;
    color: rgba(0,0,0,0) */
}

#kanban:hover {
    background: rgba(255, 255, 255, 0.76);
    color: rgba(0,0,0,1);
}


.footer {
    background: #aaa;
    color: #272B30;
}
.contact {
    color: #272B30;
    font-size: 3rem;
}


/* HELPER CLASSES */

.nav-bucket {
    display: flex;
    justify-content: space-evenly;
}

.nav {
    list-style-type: none;
    position: fixed;
    z-index: +100
}

.header-nav {    
    min-height: 320px;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.flexbox-vert {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}
.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.rnd-element {
    border-radius: 50%;
}

.inline-text {
    display: inline-block;
}
.header-text {
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;    
}

@media screen and (max-width: 768px){
    .content-desktop{
        display: none;
    }
    .proj-tile{
        min-height: 280px;
    }
    
}

@media screen and (min-width: 1199px){
    .proj-tile{
        min-height: 400px;
    }
}



/* * {
    outline: 1px solid red;
} */









