body{
    scroll-behavior: smooth;
}
.header {   
    background-image: url("headerimage.jpg");
    background-size: cover;
}

#skills-certs {
    background: white;
    color: #272B30;    
}
#certs h1 {
    text-align: center;
}
#schools li {
    margin-left: 0;
}

.proj-tile {
    background-image: url("proj-placeholder.png");
    background-size: cover;
    height: 50vh;
}


.footer {
    background: #aaa;
    color: #272B30;
}
.contact {
    color: #272B30;
    font-size: 3rem;
}


/* HELPER CLASSES */

.nav-bucket {
    display: flex;
    justify-content: space-evenly;
}

.nav {
    list-style-type: none;
}

.header-nav {    
    min-height: 300px;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rnd-element {
    border-radius: 50%;
}

.inline-text {
    display: inline-block;
}
.header-text {
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;    
}


/* * {
    outline: 1px solid red;
} */









