body{
    scroll-behavior: smooth;
}
.header {   
    background-image: url("headerimage.jpg");
    background-size: cover;
}

.headline h1 {
    font-style: italic;    
    text-shadow: 2px 2px 1px green;
}

.skills-certs {
    background: white;
    color: rgba(39,43,48,1);    
}
.skills-certs h2 {
    text-align: center;
}

/* #ed {
    border-left: 1px solid black;
} */

#schools li {
    margin-left: 0;
}

.proj-tile {
    background-image: url("proj-placeholder.png");
    background-size: cover;
    height: 300px;
    color: rgba(0,0,0,0);
    outline: 1px solid white;
}

.proj-tile:hover {
    background: rgba(255, 255, 255, 0.76);
    color: rgba(0,0,0,1);
}

#Inspire {
    background-image: url("inspire.jpg");
    background-size: cover;
    /* min-height: 300px;
    color: rgba(0,0,0,0); */
}

#inspire-description {
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0,0,0,1);
    height: 100%;
    width: 100%;    
    margin-top: 350px;
    overflow: hidden;
    padding-left: 15px;
    -webkit-transition: margin-top 1s;
    transition: margin-top 1s;    
}

#inspire-description:hover {
    margin-top: 0;
    color: rgba(0,0,0,1);
   
}

/* #Inspire:hover {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0,0,0,1);
} */

#Air2Air {
    background-image: url("Air2Airimg.jpg");
    background-size: cover;
    /* min-height: 300px;
    color: rgba(0,0,0,0) */
}

/* #air2air-description {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0,0,0,1);
    height: 100%;
    width: 100%;    
    margin-top: 350px;
    overflow: hidden;
    padding-left: 15px;
    -webkit-transition: margin-top 1s;
    transition: margin-top 1s;    
}

#air2air-description:hover {
    margin-top: 0;
    color: rgba(0,0,0,1);
   
} */

/* #Air2Air:hover {
    background: rgba(255, 255, 255, 0.76);
    color: rgba(0,0,0,1);
} */

#d2tunes {
    background-image: url("dtunesimg.jpg");
    background-size: cover;
    /* min-height: 300px;
    color: rgba(0,0,0,0); */
}

/* #d2tunes-description {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0,0,0,1);
    height: 100%;
    width: 100%;    
    margin-top: 350px;
    overflow: hidden;
    padding-left: 15px;
    -webkit-transition: margin-top 1s;
    transition: margin-top 1s;    
}

#d2tunes-description:hover {
    margin-top: 0;
    color: rgba(0,0,0,1);
   
} */

#battle-cards {
    background-image: url("battle-cards2.jpg");
    background-size: cover;
    /* min-height: 300px;
    color: rgba(0,0,0,0); */
}

.card-description {
    background: rgba(255, 255, 255, 0.85);
    color: rgba(0,0,0,0);
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;  
    margin-left: -15px;  
    overflow: hidden;
    padding-left: 15px;
    -webkit-transition: height 1s;
    transition: height 1s;    
}

.card-description:hover {
    /* margin-top: 0; */
    height: 100%;
    color: rgba(0,0,0,1);
   
}
/* 
#battle-cards:hover {
    background: rgba(255, 255, 255, 0.76);
    color: rgba(0,0,0,1);
} */

#kanban {
    background-image: url("kanban.png");
    background-size: cover;
    /* min-height: 300px;
    color: rgba(0,0,0,0) */
} 

/* #kanban-description {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0,0,0,1);
    height: 100%;
    width: 100%;    
    margin-top: 350px;
    overflow: hidden;
    padding-left: 15px;
    -webkit-transition: margin-top 1s;
    transition: margin-top 1s;    
}

#kanban-description:hover {
    margin-top: 0;
    color: rgba(0,0,0,1);
   
}
/* 
#kanban:hover {
    background: rgba(255, 255, 255, 0.76);
    color: rgba(0,0,0,1);
} */ 

#bullutin {
    background-image: url("bullutin.png");
    background-size: cover;
    /* min-height: 300px;
    color: rgba(0,0,0,0) */
}

/* #bullutin-description {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0,0,0,1);
    height: 100%;
    width: 100%;    
    margin-top: 350px;
    overflow: hidden;
    padding-left: 15px;
    -webkit-transition: margin-top 1s;
    transition: margin-top 1s;    
}

#bullutin-description:hover {
    margin-top: 0;
    color: rgba(0,0,0,1);
   
} */

/* #bullutin:hover {
    background: rgba(255, 255, 255, 0.76);
    color: rgba(0,0,0,1);
} */

#footer-banner {
    background-image: url("footerimage2.jpg");
    background-size: cover;
    min-height: 150px;
}

.footer {
    background: #aaa;
    color: #272B30;
}
.contact {
    color: #272B30;
    font-size: 3rem;
}


/* HELPER CLASSES */

.nav-bucket {
    display: flex;
    justify-content: space-evenly;
}

.nav {
    list-style-type: none;
    position: fixed;
    z-index: +100
}

.header-nav {    
    min-height: 320px;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.flexbox-vert {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}
.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.rnd-element {
    border-radius: 50%;
}

.inline-text {
    display: inline-block;
}
.header-text {
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;    
}

@media screen and (max-width: 768px){    
    .proj-tile{
        min-height: 280px;
    }
    
}

@media screen and (max-width: 992px){
    .content-desktop{
        display: none;
    }
}

@media screen and (min-width: 1199px){
    .proj-tile{
        min-height: 400px;
    }
}



/* * {
    outline: 1px solid red;
} */









